* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Regole header */
header {
    /* DEBUG */
    background-color: cyan;
    height: 80px;
    width: 100%;

    display: flex;
}

/* Regole contenuto principale */

    /* Regole jumbo */
.jumbo {
    /* DEBUG */
    background-color: blue;
    height: 400px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbo-box {
    /* DEBUG */
    background-color: pink;

    width: 50%;
    height: 80%;
}

    /* Regole sezioni centrali */
.central-sections section{
    /* DEBUG */
    border: solid 2px black;

    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-box {
    /* DEBUG */
    background-color: aqua;

    width: 45%;
    height: 80%;
}

.text-box {
    /* DEBUG */
    background-color: aquamarine;

    width: 25%;
    height: 80%;
}

.text-first .text-box {
    order: -1;
}

.text-first {
    background-color: gray;
}
